/* remove browser enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* branding */
:root {
    --primary-color: rgb(32,85,107);
    --primary-color-transp: rgba(32,85,107,0.9);
    --secondary-color: rgb(195,193,186);
    --secondary-color-transp: rgba(195,193,186,0.8);
    --tertiary-color: rgb(178,199,198);
    --light-color: #ffffff;
    --dark-color: #000000;
    --border-radius: 4px;
    --heading-font: 'Josefin Sans', sans-serif;
    --heading-font-weight: 600;
    --paragraph-font: 'Josefin Sans', sans-serif;
    --light-font-weight: 300;
}

body {
    font-family: var(--paragraph-font);
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1 {
    font-weight: var(--heading-font-weight);
    font-size: 24px;
    color: var(--light-color);
    margin: 0;
    /* change the li from a list to a row to only take up the space needed */
    display: inline;
}

header a {
    color: var(--light-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    /* change the li from a list to a row to only take up the space needed */
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: var(--light-font-weight);
    font-size: 18px;
}

.hero {
    background-image: url("../images/colleen-maher_cycling.jpg");
    height: 600px;
    /* size of the actual image */
    background-size: cover;
    /* position of image in the .hero */
    background-position: center;
    position: relative;
}

#hero-form {
    background-color: var(--secondary-color-transp);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    padding: 20px;
    width: 500px;
    /* set the position of the form in relation to the parent element */
    position: absolute;
    bottom: 50px;
    left: 50px;
}

#hero-form h3 {
    text-shadow: 3px 2px 3px var(--light-color);
    margin: 0 0 15px 0;
    font-size: 1.5em;
}

#hero-form p {
    margin: 5px 0 15px 0;
}

#hero-form label {
    margin: 0 5px;
}

.form-input {
    border: 1px solid var(--primary-color-transp);
    border-radius: var(--border-radius);
    display: block;
    padding: 5px 5px;
    font-size: 16px;
    color: var(--primary-color);
    width: 75%;
    margin-bottom: 15px;
}

#hero-form button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-color);
    font-size: 1em;
}

.section-title {
    font-size: 2em;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
    color: var(--primary-color);
}

.primary-border {
    border-color: var(--secondary-color);
}

#coaches {
    text-align: center;
}

.coach {
    width: 900px;
    margin: 0 auto 30px auto;
    background: var(--tertiary-color);
    overflow: auto;
}

.coach img {
    width: 35%;
    float: left;
}

.coach-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.coach-bio h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
    text-shadow: 2px 2px 3px var(--light-color);
}

.coach-bio h4 {
    font-weight: var(--light-font-weight);
    font-size: 1.2em;
    margin-bottom: 25px;
}

.coach-bio p {
    line-height: 1.3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
    color: var(--light-color);
    float: bottom;
}

.social-icon {
    display: inline;
    margin: 15px;
}

.social-icon img:hover {
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.copyright {
    margin-top: 10px;
    font-weight: 10px;
}