/* remove browser enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* branding */
:root {
    --primary-color: rgb(32,85,107);
    --primary-color-transp: rgba(32,85,107,0.9);
    --secondary-color: rgb(195,193,186);
    --tertiary-color: rgb(178,199,198);
    --light-color: #ffffff;
    --dark-color: #000000;
    --border-radius: 4px;
    --heading-font: 'Josefin Sans', sans-serif;
    --heading-font-weight: 600;
    --paragraph-font: 'Josefin Sans', sans-serif;
    --light-font-weight: 300;
}

body {
    font-family: var(--paragraph-font);
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1 {
    font-weight: var(--heading-font-weight);
    font-size: 24px;
    color: var(--light-color);
    margin: 0;
    /* change the li from a list to a row to only take up the space needed */
    display: inline;
}

header a {
    color: var(--light-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    /* change the li from a list to a row to only take up the space needed */
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: var(--light-font-weight);
    font-size: 18px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
    color: var(--light-color);
    float: bottom;
}

.social-icon {
    display: inline;
    margin: 15px;
}

.social-icon img:hover {
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.copyright {
    margin-top: 10px;
    font-weight: var(--light-font-weight);
}